<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cardinal Courses</title>
    
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="wesmap.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js">
    </script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</script>


</head>
    
<body>

  <div id="search">
    <h1>CARDINAL COURSE</h1>
    <div class="container">
		    <input type="text" class="form-control" id="name-dep-input" placeholder="Enter department (e.g. comp)">
            <button type="button" class="btn btn-primary" href="" id="search-btn" >Search</button>
    </div>
      
  <br>
  <div class="container">
  <div id="accordion" role="tablist" aria-multiselectable="true">
      <ul id="course-list" class="list-group"></ul>
      
      
  </div>
  </div>
    </div>
  <script>

      
      
      
    $(window).on('load', function(e) {
        $('#name-dep-input')[0].value = '';
    });

    $('#search-btn').on('click', function(e) {
        e.preventDefault();
        var searchQuery = $('#name-dep-input')[0].value;
        $('#name-dep-input')[0].value = '';
        if (searchQuery === '') return;
        $.ajax({
            url: '/search',
            data: {
                searchQuery: searchQuery
            }
        }).done(function(res) {
            if (res.length === 0) {
                $('#course-list').html(`
                    <h3 class="text-center"> No matches were found </h3>
                    <h5 class="text-center"> Enter department name (e.g. comp, MATH, etc.) </h5>
                `);
                return;
            };
            document.getElementById('course-list').innerHTML =
                res.map((course,index) => {
                    return
                `
                <div class="card">
                    <div class="card-header" role="tab">
                      <h3 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#${index}" aria-expanded="false" aria-controls="collapseOne">
                          ${course.name}
                        </a>
                      </h3>
                    </div>

                    <div id="${index}" class="collapse" role="tabpanel">
                        <div class="card-block" id="review-list">
                ` +
                    course.reviews.map(function(entry) {
                        return `
                          <li class="list-group-item">
                            <h4>" ${entry.review}"</h4>
                            <p>${entry.postBy}, took it with ${entry.prof} in ${entry.sem}. Grade received: ${entry.grade}</p>
                          </li>
                        `}).join('') +
                `
                        </div>
                <li class="list-group-item">
                    <textarea class="form-control" id="review-txt" rows="3" placeholder="Add your review"></textarea>
                    <input class="form-control" type="text" placeholder="Name" id="postBy" style='display: inline; width: 30%;'>
                    <input class="form-control" type="text" placeholder="Professor" id="prof" style='display: inline; width: 29%;'>
                    <input class="form-control" type="text" placeholder="Semester (e.g. spring 2017)" id="sem" style='display: inline; width: 20%;'>
                    <input class="form-control" type="text" placeholder="Grade (optional)" id="grade" style='display: inline; width: 13%;'>
                    <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
                </li>
                    </div>
                </div>`
                }).join('');

            /*
                TODO: add review for every course except first result does not work
                if a new review is added, contact server to update database
            */
            $('#submit-btn').on('click', function(e) {
                console.log(e)
                e.preventDefault();
                var review = $('#review-txt').val()
                var postBy = $('#postBy').val()
                var prof = $('#prof').val()
                var sem = $('#sem').val()
                var grade = $('#grade').val() == "" ? "-" : $('#grade').val();
                $('#review-txt').val('')
                $('#postBy').val('')
                $('#prof').val('')
                $('#sem').val('')
                $('#grade').val('')
                
                if (review.trim() !== "" && prof.trim() !== "" && sem.trim() !== "") {
                  fetch('add', {
                      method: 'put',
                      headers: {'Content-Type': 'application/json'},
                      body: JSON.stringify({
                          name : res[0].name,
                          postBy: postBy,
                          prof: prof,
                          review : review,
                          sem: sem,
                          grade: grade
                      })
                  }).then(res => {
                      $('#review-txt').val('')
                      $('#review-list').append(`
                          <li class="list-group-item">
                          <h3>"${review}"</h3>
                          <p>${postBy}, took it with ${prof} in ${sem}. Grade received: ${grade}</p>
                      `)
                      if (res.ok) return res.json();
                  })
                    }
            });
        })
        });
    
    
    
  </script>

</body>
</html>
