<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cardinal Courses</title>
    
  <link rel="stylesheet" type="text/css" href="wesmap.css">
    </script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</script>


</head>
    
<body>

  <div id="search">
    <h1>CARDINAL COURSE</h1>
    <div class="container">
		    <input type="text" class="form-control" id="name-dep-input" placeholder="Enter department (e.g. comp)">
            <button type="button" class="btn btn-primary" href="" id="search-btn" >Search</button>
    </div>
      
  <br>
  <div class="container">
  <div id="accordion" role="tablist" aria-multiselectable="true">
      <ul id="course-list" class="list-group"></ul>
      
      
  </div>
  </div>
    </div>
  <script>

      
      
      
    $(window).on('load', function(e) {
        $('#name-dep-input')[0].value = '';
    });

    $('#search-btn').on('click', function(e) {
        e.preventDefault();
        var searchQuery = $('#name-dep-input')[0].value;
        $('#name-dep-input')[0].value = '';
        if (searchQuery === '') return;
        $.ajax({
            url: '/search',
            data: {
                searchQuery: searchQuery
            }
        }).done(function(res) {
            if (res.length === 0) {
                $('#course-list').html(`
                    <h3 class="text-center"> No matches were found </h3>
                    <h5 class="text-center"> Enter department name (e.g. comp, MATH, etc.) </h5>
                `);
                return;
            };
            document.getElementById('course-list').innerHTML =
                res.map((course,index) => {
                    if(course.reviews.length == 0) {
                        var content =
                            `
                              <li class="list-group-item">
                                <h4>No reviews</h4>
                                <p>Add yours below!</p>
                              </li>`
                    } else {
                        var content =
                            course.reviews.map(function(entry) {
                              return `
                                      <li class="list-group-item">
                                        <h4>" ${entry.review}"</h4>
                                        <p>${entry.postBy}, took it with ${entry.prof} in ${entry.sem}. Grade received: ${entry.grade}</p>
                                      </li>
                                    `}).join('')
                    }
                    return `
                        <div class="card">
                            <div class="card-header" role="tab">
                              <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#${index}" aria-expanded="false" aria-controls="collapseOne">
                                  ${course.name}
                                </a>
                              </h3>
                            </div>

                            <div id="${index}" class="collapse" role="tabpanel">
                              <div class="card-block review-list" id="${index}review-list">
                        ` + content +
                        `
                              </div>
                        <li class="list-group-item">
                            <textarea class="form-control" id="${index}review-txt" rows="3" placeholder="Add your review"></textarea>
                            <input class="form-control" type="text" placeholder="Name" id="${index}postBy" style='display: inline; width: 30%;'>
                            <input class="form-control" type="text" placeholder="Professor" id="${index}prof" style='display: inline; width: 29%;'>
                            <input class="form-control" type="text" placeholder="Semester (e.g. spring 2017)" id="${index}sem" style='display: inline; width: 20%;'>
                            <input class="form-control" type="text" placeholder="Grade (optional)" id="${index}grade" style='display: inline; width: 13%;'>
                            <button type="submit" class="btn btn-primary" id="${index}submit-btn">Submit</button>
                       </li>
                            </div>
                        </div>`
                }).join('');

            /*
                if a new review is added, contact server to update database
            */
            res.map((course,index) => {
                $('#' + index + 'submit-btn').on('click', function(e) {
                    console.log(e)
                    e.preventDefault();
                    var review = $('#' + index + 'review-txt').val()
                    var postBy = $('#' + index + 'postBy').val()
                    var prof = $('#' + index + 'prof').val()
                    var sem = $('#' + index + 'sem').val()
                    var grade = $('#' + index + 'grade').val() == "" ? "-" : $('#' + index + 'grade').val();
                    $('#' + index + 'review-txt').val('')
                    $('#' + index + 'postBy').val('')
                    $('#' + index + 'prof').val('')
                    $('#' + index + 'sem').val('')
                    $('#' + index + 'grade').val('')

                    if (review.trim() !== "" && prof.trim() !== "" && sem.trim() !== "") {
                      fetch('add', {
                          method: 'put',
                          headers: {'Content-Type': 'application/json'},
                          body: JSON.stringify({
                              name : res[index].name,
                              postBy: postBy,
                              prof: prof,
                              review : review,
                              sem: sem,
                              grade: grade
                          })
                      }).then(res => {
                          $('#' + index + 'review-list').append(`
                              <li class="list-group-item">
                              <h3>"${review}"</h3>
                              <p>${postBy}, took it with ${prof} in ${sem}. Grade received: ${grade}</p>
                          `)
                          if (res.ok) return res.json();
                      })
                        }
                });
            });
        })
        });
    
    
    
  </script>

</body>
</html>
