#search {
    text-align: center;
    padding-top: 20px;
}

#poster {
    color: darkgrey;
}

#addReview {
}

#reviews {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    background-image: url("symphony.png");
}

.fa {
    font-family: inherit
}
.fa:hover {
    color: aquamarine
}